<div class="home-container">
  <div class="welcome-card">
    <h1>¡Bienvenido a la Plataforma de Apoyo INPI!</h1>
    <p>
      Somos el Instituto Nacional de los Pueblos Indígenas (INPI), tu aliado para el desarrollo y bienestar de las comunidades indígenas y afromexicanas de México.
    </p>
    <p>
      En esta plataforma, podrás gestionar tus documentos, acceder a nuestros programas de apoyo y mantenerte informado sobre las iniciativas que impulsan tu futuro.
    </p>
    <p>
      Tu progreso es nuestro compromiso.
    </p>
    <div class="button-group">
      <a routerLink="/login-pw" class="btn-primary">Iniciar sesión</a>
      <a routerLink="/register-pw" class="btn-secondary">Registrarse</a>
    </div>
  </div>

  <div class="mission-statement">
    <h2>Nuestra Misión</h2>
    <p>
      "Garantizar el pleno ejercicio de los derechos de los pueblos indígenas y afromexicano, promoviendo su desarrollo integral con respeto a su cultura y autonomía."
    </p>
  </div>
</div>